
h2 {

}


/*.bslib-grid-item {*/
.scenario-card {
  border-style: solid;
  border-width: 2px;
  border-color: rgb(174, 35, 116);
  border-radius: 8px;
  border-left-color: rgb(0, 94, 184);
  border-left-width: 5px;
}

.default-card-header {
  padding: 4px;
  font-weight: bold;
  background-color: rgb(200, 200, 200);
  border-style: solid;
  border-width: 1px;
  border-color: black;

}

.nav-pills .nav-link:not(.active) {
  background-color: rgb(255, 255, 255);
}

.nav-pills .nav-link.active {
  background-color: rgb(174, 35, 116);
}
.card-body {
  padding: 4px;
}

.btn {
  text-wrap: wrap;
  background-color: rgb(102, 157, 211);
  color: white;
  border-color: rgb(0, 94, 184);
  border-style: solid;
  border-width: 1px;
  padding: 8px;
}

.dtButton {
  background-color: rgb(102, 157, 211);
  color: white;
  border-color: rgb(0, 94, 184);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  margin: 6px;
}

.control-label {
  font-weight: normal;
}
